{{ define "main" }}
  <div class="title-banner" style="margin-bottom: 2rem">
    <div class="content-container">
      <h1>
        News
      </h1>
    </div>
  </div>
  <div class="main-body">
    <div class="content-container">
      {{ range sort .Paginator.Pages }}
      <article class="markdown book-post">
        <h2 class="post-title">
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h2>
        {{ partial "docs/post-meta" . }}
      </article>
      {{ end }}

      {{ template "_internal/pagination.html" . }}
    </div>
  </div>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/taxonomy" . }}
{{ end }}
