
{{ define "main" }}

<div class="title-banner home">
  <div class="content-container">
    <div class="markdown">
      {{ .Content }}
    </div>

    <div class="book-columns flex flex-wrap colorful">
      
      <a href="/docs/templates" class="flex-even markdown-inner">
        <span class="title">Templates</span>
        <span class="fas fa-arrow-right"></span>
      </a>
      
      <a href="https://docs.beakerbrowser.com/" class="flex-even markdown-inner">
        <span class="title">Beaker Documentation</span>
        <span class="fas fa-arrow-right"></span>
      </a>
      
    </div>
  </div>
</div>

<div class="main-body">
  <div class="content-container">
    {{ range first 5 (where .Site.RegularPages "Section" "posts") }}
    <article class="markdown book-post">
      <h3 class="post-title">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h3>
      {{ partial "docs/post-meta" . }}
    </article>
    {{ end }}

  </div>
</div>
{{ end }}