
{{ define "main" }}

<div class="title-banner">
  <div class="content-container">
    {{ .Content }}

    <div class="book-columns flex flex-wrap colorful">
      
      <a href="/docs/templates" class="flex-even markdown-inner">
        <span class="title">Templates</span>
        <span class="fas fa-arrow-right"></span>
      </a>
      
      <a href="/docs/tutorials" class="flex-even markdown-inner">
        <span class="title">Tutorials</span>
        <span class="fas fa-arrow-right"></span>
      </a>
      
      <a href="https://beaker-browser.gitbook.io/docs/#apis" class="flex-even markdown-inner">
        <span class="title">API Reference</span>
        <span class="fas fa-arrow-right"></span>
      </a>
      
    </div>
  </div>
</div>

<div class="links-directory">
  <div class="content-container">
    <div class="links-directory-ctrls">
      <input placeholder="Search">
      <button class="hidden">Add Link</button>
    </div>
    <div class="links-directory-main">
      <div class="links-directory-nav"></div>
      <div class="links-directory-results"></div>
    </div>
  </div>
</div>
<script type="module" src="/links-directory.js"></script>

<dialog id="add-link-dialog">
  <form method="dialog">
    <h2>Share a link</h2>
    <div class="form-group">
      <label>Title</label>
      <input type="text" name="title" required>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" name="description">
    </div>
    <div class="form-group">
      <label>URL</label>
      <input type="text" name="href" required>
    </div>
    <div class="form-group">
      <label>Category</label>
      <select name="category" required>
        <option disabled selected value>-- Select a category --</option>
      </select>
    </div>
    <div class="form-actions">
      <button>Cancel</button>
      <button type="submit">Share</button>
    </div>
  </form>
</dialog>
{{ end }}