/* You can add custom styles here. */

// @import "plugins/numbered";

.post-title {
  margin-bottom: 0 !important;
}

.post-meta {
  font-size: 12px;
  color: gray;
}

.book-columns.colorful > * {
  position: relative;
  padding: 10px 0;
  box-sizing: border-box;
  color: $gray-800;
  border-bottom: 2px solid #3081e2;
  margin: 0 10px;
}

.book-columns.colorful > *:first-child {
  margin-left: 0;
}

.book-columns.colorful > *:last-child {
  margin-right: 0;
}

.book-columns.colorful span.title {
  font-size: 1.1rem;
}

.book-columns.colorful span.fas {
  position: absolute;
  top: 10px;
  right: 6px;
  transition: right 0.1s;
}

.book-columns.colorful > *:hover span.fas {
  right: 0px;
}

.template-thumb {
  display: block;
  width: 400px;
  margin: 1rem 0;
  border: 1px solid $gray-600;
}

button.create-drive {
  display: block;
  background: #fff;
  border: 1px solid $gray-600;
  color: $color-link;
  border-radius: 4px;
  padding: 8px 0;
  margin: 0 0 1rem;
  width: 400px;
  text-align: center;
}

button.create-drive:hover {
  cursor: pointer;
  background: $gray-100;
}