/* You can add custom styles here. */

// @import "plugins/numbered";

.post-title {
  margin-bottom: 0 !important;
}

.post-meta {
  font-size: 12px;
  color: gray;
}

.book-columns.colorful > * {
  position: relative;
  padding: 10px 0;
  box-sizing: border-box;
  color: $gray-800;
  border-bottom: 2px solid #3081e2;
  margin: 0 10px;
}

.book-columns.colorful > *:first-child {
  margin-left: 0;
}

.book-columns.colorful > *:last-child {
  margin-right: 0;
}

.book-columns.colorful span.title {
  font-size: 1.1rem;
}

.book-columns.colorful span.fas {
  position: absolute;
  top: 10px;
  right: 6px;
  transition: right 0.1s;
}

.book-columns.colorful > *:hover span.fas {
  right: 0px;
}

.template-thumb {
  display: block;
  width: 400px;
  margin: 1rem 0;
  border: 1px solid $gray-600;
}

button.create-drive {
  display: block;
  background: #fff;
  border: 1px solid $gray-600;
  color: $color-link;
  border-radius: 4px;
  padding: 8px 0;
  margin: 0 0 1rem;
  width: 400px;
  text-align: center;
}

button.create-drive:hover {
  cursor: pointer;
  background: $gray-100;
}

.links-directory {
  margin: 1.5rem 0;

  .hidden {
    display: none;
  }

  .links-directory-ctrls {
    display: flex;
    margin-bottom: 1.5rem;

    input {
      flex: 1;
      padding: 0.3rem 0.6rem;
    }

    button {
      padding: 2px 0.7rem 0;
      font-size: 0.9rem;
      margin-left: 0.8rem;
    }
  }

  .links-directory-main {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 1.2rem;
  }

  .links-directory-nav {
    border-right: 1px solid $gray-400;

    a {
      display: block;
      margin: 0.7rem 0;
      color: $gray-800;

      &.active {
        font-weight: bold
      }
    }
  }

  .links-directory-results {
    .link {
      margin: 0.5rem 1rem 1.5rem;

      .title {
        font-size: 1.2rem;
        letter-spacing: 0.5px;
      }

      .author {
        color: $gray-600;
      }
    }

    .empty {
      background: $gray-100;
      color: $gray-800;
      text-align: center;
      padding: 6rem;
    }
  }
}