/* You can add custom styles here. */

// @import "plugins/numbered";

.post-title {
  margin-bottom: 0 !important;
}

.post-meta {
  font-size: 12px;
  color: gray;
}

.book-columns.colorful > * {
  position: relative;
  padding: 10px 0;
  box-sizing: border-box;
  color: $gray-800;
  border-bottom: 2px solid #3081e2;
  margin: 0 10px;
}

.book-columns.colorful > *:first-child {
  margin-left: 0;
}

.book-columns.colorful > *:last-child {
  margin-right: 0;
}

.book-columns.colorful span.title {
  font-size: 1.1rem;
}

.book-columns.colorful span.fas {
  position: absolute;
  top: 10px;
  right: 6px;
  transition: right 0.1s;
}

.book-columns.colorful > *:hover span.fas {
  right: 0px;
}

@media (max-width: 530px) {
  .book-columns.colorful {
    flex-direction: column;

    & > * {
      margin: 0 0 1.5rem;
    }
  }
}

.template-thumb {
  display: block;
  width: 400px;
  margin: 2rem 0 1rem;
  border: 1px solid $gray-400;
}

button.create-drive {
  display: block;
  color: #fff;
  border: 0;
  background: $color-link;
  box-shadow: 0 1px 2px #0004;
  border-radius: 4px;
  padding: 8px 0;
  margin: 0 0 1rem;
  width: 400px;
  max-width: 100%;
  text-align: center;
  transition: box-shadow 0.2s;
}

button.create-drive:hover {
  cursor: pointer;
  box-shadow: 0 2px 4px #0006;
}

.links-directory {
  margin: 1.5rem 0;
  padding: 0 2rem;

  .hidden {
    display: none;
  }

  .signin-prompt {
    background: $gray-100;
    padding: 1rem;
    margin: -0.5rem 0 1.5rem;
    text-align: center;
  }

  .links-directory-ctrls {
    display: flex;
    margin-bottom: 1.5rem;

    input {
      flex: 1;
      padding: 0.3rem 0.6rem;
    }

    button {
      padding: 2px 0.7rem 0;
      font-size: 0.9rem;
      margin-left: 0.8rem;
    }
  }

  .links-directory-main {
    display: grid;
    grid-template-columns: 180px 1fr;
  }

  .links-directory-nav {
    background: #fafafd;
    padding: 0.4rem 1.2rem;

    a {
      display: block;
      margin: 0.7rem 0;
      color: $gray-800;

      &.active {
        font-weight: bold
      }
    }
  }

  .links-directory-results {
    .link {
      font-size: 1rem;
      line-height: 1.3;
      border: 1px solid $gray-400;
      padding: 1rem 1.4rem;

      & + .link {
        border-top: 0;
      }

      a:hover {
        text-decoration: underline;
      }

      .title {
        font-size: 1.1rem;
        letter-spacing: 0.5px;
        font-weight: bold;
      }

      .author {
        color: $gray-600;

        a {
          color: inherit;
        }
      }
    }

    .empty {
      background: #fafafd;
      color: $gray-800;
      text-align: center;
      padding: 6rem;
    }
  }
}

@media (max-width: 530px) {
  .links-directory {
    .links-directory-ctrls {
      margin-bottom: 0;

      input {
        padding: 1rem;
      }
    }

    .links-directory-main {
      display: block;

      .links-directory-nav {
        display: flex;
        overflow-x: scroll;
        border: 1px solid $gray-400;
        border-top: 0;
        background: $gray-100;
        padding: 0.35rem 1rem;
        margin-bottom: 1.5rem;

        a {
          padding-right: 1rem;
        }
      }

      .links-directory-results {
        .link {
          font-size: 0.9rem;
        }
      }
    }
  }
}

#add-link-dialog {
  display: none;
  border: 1px solid $gray-700;
  padding: 1.3rem;

  &[open] {
    display: block;
  }

  form {
    width: 500px;
  }

  h2 {
    margin: 0 0 2rem;
  }

  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    label {
      flex: 0 0 100px;
      font-weight: bold;
      margin-right: 1rem;
    }

    input {
      flex: 1;
    }
  }

  .form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
}