html {
  font-size: $font-size-base;
  letter-spacing: 0.33px;
  scroll-behavior: smooth;
  touch-action: manipulation;
}

html,
body {
  min-width: $body-min-width;
  overflow-x: hidden;
}

body {
  color: $body-font-color;
  background: $body-background;

  font-weight: $body-font-weight;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: $body-font-weight;
}

a {
  text-decoration: none;
  color: $color-link;
}

img {
  vertical-align: baseline;
}

aside nav ul {
  display: inline-flex;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin: 1rem 1.5rem;
    white-space: nowrap;
  }

  a {
    display: block;
  }

  a:hover {
    opacity: 0.5;
  }

  ul {
    display: none;
  }
}

ul.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;

  .page-item a {
    padding: $padding-16;
  }
}

.content-container {
  margin: 0 auto;
  max-width: 780px;
}

.book-icon {
  filter: $icon-filter;
}

.book-brand {
  display: inline;
  margin-top: 0;
  margin-right: 1rem;
  font-weight: bold;

  img {
    position: relative;
    top: -1px;
    height: 30px;
    width: auto;
    margin-right: 5px;
    vertical-align: middle;
  }
}

.book-menu {
  font-size: $font-size-14;

  nav {
    padding: $padding-16;
  }

  a {
    color: inherit;
    word-wrap: break-word;
  }

  a.active {
    color: $color-link;
  }

  a.collapsed::after {
    content: "▸";
    position: absolute;
    right: 0;
  }
}

.book-section-flat {
  margin-bottom: $padding-16 * 2;

  &:not(:first-child) {
    margin-top: $padding-16 * 2;
  }

  > a,
  > span {
    font-weight: bolder;
  }

  > ul {
    padding-left: 0;
  }
}

.book-page {
  min-width: $body-min-width;
}

.book-post {
  margin-bottom: $padding-16 * 3;
}

.book-header {
  display: none;
  margin-bottom: $padding-16;

  label {
    line-height: 0;
  }
}

.title-banner {
  background: #fafafd;
  padding: $padding-16 * 1.2 $padding-16 * 2 $padding-16 * 1.4;

  &.home {
    padding: $padding-16 * 3.2 $padding-16 * 2 $padding-16 * 4;
    margin-bottom: 2rem;
  }

  a {
    color: inherit;
  }
}

.main-body {
  padding: 0 $padding-16 * 2;
}

.book-footer {
  padding: $padding-16;
  font-size: $font-size-14;

  img {
    height: 1em;
    margin-right: $padding-8;
  }
}

.book-comments {
  margin-top: $padding-16;
}

.book-languages {
  position: relative;
  overflow: visible;

  padding: $padding-16;
  margin: -$padding-16;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      white-space: nowrap;
      cursor: pointer;
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    .book-languages-list {
      display: block;
    }
  }

  .book-languages-list {
    display: none;

    position: absolute;
    bottom: 100%;
    left: 0;
    padding: $padding-8 0;

    background: $body-background;
    box-shadow: 0 0 $padding-4 rgba(0, 0, 0, 0.1);

    li img {
      opacity: 0.25;
    }

    li.active img,
    li:hover img {
      opacity: 1;
    }

    a {
      color: inherit;
      padding: $padding-8 $padding-16;
    }
  }
}

.book-home {
  padding: $padding-16;
}

// Responsive styles
aside nav,
.book-page,
.book-header aside,
.markdown {
  transition: 0.2s ease-in-out;
  transition-property: transform, margin, opacity;
  will-change: transform, margin;
}

@media screen and (max-width: $mobile-breakpoint) {
  .book-menu {
    font-size: $font-size-base;
  }

  .book-toc {
    display: none;
  }

  .book-header {
    display: block;
  }

  #menu-control:checked + main {
    .book-menu nav,
    .book-page {
      transform: translateX($menu-width);
    }

    .book-header aside,
    .markdown {
      opacity: 0.25;
    }

    .book-menu-overlay {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  #toc-control:checked + aside {
    display: block;
  }
}

@media (max-width: 530px) {
  .title-banner {
    padding: 0.4rem 2rem;

    h1 {
      font-size: 1.4rem;
      font-weight: bold;
    }
  }

  aside nav {
    padding-top: 1.5rem;

    ul {
      display: none;
    }
  }
}

// Extra space for big screens
@media screen and (min-width: $container-max-width) {
  .book-menu nav,
  .book-toc nav {
    padding: $padding-16 $padding-16;
  }
}
