.markdown {
  // {{< expand "Label" "icon" >}}
  .book-expand {
    margin-top: $padding-16;
    margin-bottom: $padding-16;

    border: $padding-1 solid $gray-200;
    border-radius: $border-radius;

    overflow: hidden;

    .book-expand-head {
      background: $gray-100;
      padding: $padding-8 $padding-16;
      cursor: pointer;
    }

    .book-expand-content {
      display: none;
      padding: $padding-16;
    }

    input[type="checkbox"]:checked + .book-expand-content {
      display: block;
    }
  }

  // {{< tabs >}}
  .book-tabs {
    margin-top: $padding-16;
    margin-bottom: $padding-16;

    border: $padding-1 solid $gray-600;
    border-radius: $border-radius;

    overflow: hidden;

    display: flex;
    flex-wrap: wrap;

    label {
      display: inline-block;
      padding: $padding-8 $padding-16;
      border-bottom: $padding-1 transparent;
      cursor: pointer;
    }

    .book-tabs-content {
      order: 999; //Move content blocks to the end
      width: 100%;
      border-top: $padding-1 solid $gray-100;
      padding: $padding-16;
      display: none;

      & > .highlight:first-child > pre {
        margin-top: 0;
      }

      & > .highlight:last-child > pre {
        margin-bottom: 0;
      }
    }

    input[type="radio"]:checked + label {
      border-bottom: $padding-1 solid $color-link;
    }
    input[type="radio"]:checked + label + .book-tabs-content {
      display: block;
    }
  }

  // {{< columns >}}
  .book-columns {
    margin-left: -$padding-16;
    margin-right: -$padding-16;

    > div {
      margin: $padding-16 0;
      min-width: $body-min-width / 2;
      padding: 0 $padding-16;
    }
  }

  // {{< button >}}
  a.book-btn {
    display: inline-block;
    font-size: $font-size-14;
    color: $color-link;
    line-height: $padding-16 * 2;
    padding: 0 $padding-16;
    border: $padding-1 solid $color-link;
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  // {{< hint >}}
  .book-hint {
    @each $name, $color in $hint-colors {
      &.#{$name} {
        border-left-color: $color;
        background-color: rgba($color, 0.1);

        span {
          color: $color;
        }
      }
    }
  }

  // {{< niceimg >}}
  .niceimg {
    display: block;
    margin: 2rem auto;
    box-shadow: 0 2px 4px #0004;
  }

  // {{< linkcard >}}
  .linkcard {
    display: flex;
    align-items: center;
    border: 1px solid $gray-300;
    margin-bottom: 1rem;
    color: $color-link;
    box-shadow: 0 2px 4px #0001;

    &:hover {
      text-decoration: none;
      background: $gray-100;
    }

    img {
      width: 200px;
      height: 100px;
      object-fit: cover;
      object-position: top;
      border-right: 1px solid $gray-300;
    }

    span {
      font-size: 1.15rem;
      font-weight: 600;
      letter-spacing: 1px;
      color: #000;
      padding: 0.9rem 1.5rem;
    }

    span.fa-fw {
      position: relative;
      left: 0;
      margin-left: auto;
      width: 5rem;
      transition: left 0.2s;
    }

    &:hover span.fa-fw {
      left: 0.6rem;
    }
  }

  // {{< linkcardgrid >}}
  .linkcardgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    @media (max-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .linkcard {
      flex-direction: column;
      margin: 0;

      img {
        margin: 0;
        width: auto;
        height: auto;
        border: 0;
        border-bottom: 1px solid $gray-300;
      }

      span {
        font-size: 0.9rem;
        letter-spacing: 1px;
        font-weight: 600;
        padding: 5px;
      }
    }
  }
}
